includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    excludePaths:
        - vendor/*
        - node_modules/*
        - database/migrations/*
        - resources/*
        - config/*
        - bootstrap/*
        - public/*
